Source: ros-noetic-wibotic-connector-can
Section: misc
Priority: optional
Maintainer: Roni Kreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-message-generation, ros-noetic-rospy, ros-noetic-std-msgs
Homepage: https://www.wibotic.com
Standards-Version: 3.9.2

Package: ros-noetic-wibotic-connector-can
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-future, python3-pyuavcan-v0, ros-noetic-message-runtime, ros-noetic-rospy, ros-noetic-std-msgs, ros-noetic-wibotic-msg
Description: The wibotic_connector_can package
